.App {
  text-align: center;
}

/* .link{
  background-color: #515357;
  font-size: 40px;
  color: rgb(71, 181, 255);
  text-orientation: upright;
  position:absolute;
  top:0;
  right:0;

}

.link1{
  background-color: #515357;
  font-size: 40px;
  color: rgb(71, 181, 255);
  text-orientation: upright;
  position:absolute;
  top:1;
  right:0;
  float:right;
} */

.card-container {
  /* display: flex;
  flex-direction: row;
  overflow: wrap; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(195, 206, 216);
  width: 100%;
  height: 100%;
}

.details-button {
  color: rgb(255, 255, 255); font-size: 25px; line-height: 15px; padding: 8px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-color:rgb(119, 134, 148); display: inline-block; float: left;
  bottom: 0px;
  }
  .details-button:hover {
  background: #1C6EA4; }
  .details-button:active {
  background: #144E75; }
.buy-button{
  color: rgb(255, 255, 255); font-size: 25px; line-height: 15px; padding: 8px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-color:rgb(119, 134, 148); display: inline-block; float: right;}
  .buy-button:hover {
  background: #1C6EA4; }
  .buy-button:active {
  background: #144E75; }


.App-header {
  background-color: rgb(195, 206, 216);
  width: 100%;
  height: 10vh;
  font-size: calc(50px + 2vmin);
  color: white;
  border-style: none;
  text-align: center;
  
}

.comments {
  padding:0%
  
}

.links {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 30px;
}


.search {
  /* padding: rem 1rem; */
  margin: 2rem 0;
  height: 7vh;
  background-color: rgb(195, 206, 216);
  width: 100%;
  font-size: 30px;
  color:rgb(255, 255, 255)
}


.search input {
  margin-right: 20rem;
  flex: 1;
}

.search button {
  width: 150px;
}